<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>

{{#if homepage}}
	<body>
{{/if}}
{{#if mainpage}}
	<body>
{{/if}}
{{#if kidpage}}
	<body id="kidpage">
{{/if}}
{{#if videopage}}
	<body>
{{/if}}
<!-- <body> -->
	<header>
		<img src="/images/roku.svg" alt="Roku logo" width="90"><span>FlashBack</span>
		<nav>
			<ul>
				{{#if homepage}}

				{{/if}}
				{{#if mainpage}}
			  	<li><a href="/">HOME</a></li>
					<li><a href="/kid">KIDS</a></li>
				{{/if}}
				{{#if kidpage}}
			  	<li><a href="/">HOME</a></li>
				{{/if}}
				{{#if videopage}}
			  	<li><a href="/">HOME</a></li>
				{{/if}}
				<!-- <li><a href="/kid">Kids</a></li> -->
				<li class="lk"><i class="fas fa-user-circle"></i></li>
				<li class="lk"><i class="fas fa-cog"></i></li>
			</ul>
		</nav>
	</header>

	<main>
		{{{ body }}}
	</main>

	<footer>
		<p class="copy">
			&copy; 2018 The Awesome Company, Inc
		</p>


	</footer>
  <script>
    var appData = {
      movies : {{{ data }}}
    }
  </script>
	{{#if mainpage}}
  	<script src="/js/main.js"></script>
	{{/if}}

	{{#if videopage}}
		<script src="/js/videoVM.js"></script>
	{{/if}}

	{{#if kidpage}}
		<script src="/js/kid.js"></script>
	{{/if}}


</body>
</html>
