<h1>{{title}}</h1>
<br>
<p>{{message}}</p>
<br><br><br>
<a class="bar" href="/3daction">Action</a>
<br><br><br>
<a class="bar" href="/3dcomedy">Comedy</a>
<br><br><br>
<a class="bar" href="/3dwar">War</a>
<br><br><br>
<a class="bar" href="/3ddocumentary">Documentary</a>
