body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/childrenbackground.jpg)  center fixed no-repeat;
  text-align: center;
}


a {
  color: #00B7FF;
}


img{
  width: 720px;
}

p{
  font-size: 20px;
}

h3{
  font-size: 48px;
}
